* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Alice;
}


.header {
    /* background-color: aqua; */
    min-height: calc(100vh - 100px);  /* calc - can use + - * or / to do calculations */
}

.nav {
    background-color: #59146c;
    /* height: 50px; */
    text-align: center;
    padding-top: 10px;
}

.nav #links {
    display: block;
    height: 50px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
    z-index: 2;
}

.nav .fa-bars {
    display: none;
}

/* HEADINGS */

.h1 {
    margin: 15% auto;
    color: white;
    font-size: 65px;
}

.h1, .h2 {
    font-weight: 400;
    line-height: 16px; /*aka 1em*/
    letter-spacing: .14em;
    text-transform: uppercase;
}

.h2{
    color: #59146c;
    font-size: 50px;
    padding-bottom: 50px;
}

hr {
    width: 80%;
    margin: auto;
}

/* IMAGES */

.mainlogo{
    padding-top: 30px;
}

.smalllogo {
    padding: 30px 0 50px 0;
}

/* Added alpha gradient/opacity to background image - also added shorthand for background position, size, repeat and attachment */
.bgimg1{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Images/Headerimage.jpg") center/cover no-repeat fixed; /*NOTE the order of center/cover is important*/
    min-height: 100vh;
}

.bgimg2{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../Images/Main\ image1.jpg") center/cover no-repeat fixed;
    min-height: 100vh;
}

.smallbgimg1{
    background: url("../Images/Menu\ image1.jpg");
}

.smallbgimg2{
    background: url("../Images/Menu\ image2.jpg");
}

.smallbgimg3{
    background: url("../Images/Menu\ image3.jpg");
}

.smallbgimg1, .smallbgimg2, .smallbgimg3 {
    width: 30%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.smallimgflex {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin: 0 8% 0 8%;
}

/* PARAGRAPHS */

p{
    margin: 50px;
    font-size: 18px;
    color: rgb(106, 104, 104);
}

.parawhite {
    color: white;
    letter-spacing: 2px;
}

.centreElements{
    /* background-color: red; */
    padding-top: 20%;
    /* width: 900px;
    height: 300px; */
}

/* BUTTONS */

.menuBtn {
    text-decoration: none;
    padding: 20px 45px;
    border: 2px solid #59146c;
    border-radius: 5px;
    color: #59146c;
    font-size: 18px;
    text-transform: uppercase;
}

.menuBtn:hover {
    color: white;
    background-color: #59146c;
}

.clickbtn {
    color: rgb(106, 104, 104);
    letter-spacing: 2px;
}

.clickbtn:hover{
    color: darkgrey;
}

.reservation{
    text-decoration: none;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    border: 3px solid white;
    padding: 30px 40px;
}

.reservation:hover{
    color: black;
    background-color: white;
}

/* QUOTES AND STAR RATING */

.quotes{
    display: flex;
    justify-content: space-around;
    margin: 50px;
    padding: 50px;
}

q{
    color: rgb(106, 104, 104);
    font-size: 18px;
    letter-spacing: 1px;
    margin: 50px 30px;
    display: block;
}

.fa{
    color: #59146c;
    width: 40px;
    /* height: 40px; */
}

/* FORM */

form{
    background-color: #59146c;
    width: 90%;
    padding: 50px;
    margin: auto;
}

.input{
    width: 50%;
}

.submit{
    width: 20%;
}

.input, .submit {
    font-size: 18px;
    height: 40px;
}


/* MOBILE VIEW - RESPONSIVE - 1230px*/

@media screen and (max-width: 1230px) {

    /* MENU */

    .nav {
        padding-top: 70px;
    }

    .nav .fa-bars {
        display: block;
        font-size: 35px;
        float: right;
        margin-right: 40px;
        margin-bottom: 0px;
    }

    .nav #links {
        display: none;
        height: 100vh;
        width: 100%;
        background: #59146c;
    }

    .nav a {
        padding: 0px 60px;
        letter-spacing: 5px;
        line-height: 80px;
        font-size: 20px;
    }
    

    /* HEADINGS */
    .h1 {
        font-size: 42px;
        line-height: 1.5em;
        font-weight: 400;
        padding-top: 100px; /*Centre heading text*/
    }

    .h2{
        font-size: 42px;
    }

    /* MOBILE IMAGES */

    .smallbgimg1, .smallbgimg2, .smallbgimg3 {
        border-radius: 5%;    
    }

    /* PARAGRAPHS */

    p{
        margin: 50px;
        font-size: 20px;
    }

    /* BUTTONS */

    .reservation{
        font-size: 18px;
        padding: 30px 40px;
        width: auto;
        height: auto;
    }

    .centreElements{
        padding-top: 30%; /*Centre reservation button text*/
    }

    /* QUOTES */

    .quotes{
        display: block;
    }
    
    q{
        color: rgb(106, 104, 104);
        font-size: 20px;
        letter-spacing: 1px;
        margin-bottom: 80px;
    }
    
    .fa{
        color: #59146c;
        width: 20px;
        /* height: 40px; */
    }
    
    /* FORM */

form{
    width: 100%;
}

.input{
    width: 100%;
}

.submit{
    width: 50%;
}

.input, .submit {
    font-size: 20px;
    height: 40px;
}


}

/* MOBILE VIEW - RESPONSIVE - 1020px*/

@media screen and (max-width: 1020px) {

    /* MENU */

    .nav .fa-bars {
        display: block;
        font-size: 28px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 15px;
    }

    .nav #links {
        display: none;
        height: 100vh;
        width: 100%;
        background: #59146c;
    }

    .nav a {
        padding: 0px 60px;
        /* margin: 150px; */
        letter-spacing: 5px;
        line-height: 80px;
        display: block;
    }
    

    /* HEADINGS */
    .h1 {
        font-size: 32px;
        line-height: 1.5em;
        font-weight: 400;
        padding-top: 100px; /*Centre heading text*/
    }

    .h2{
        font-size: 32px;
    }

    /* MOBILE IMAGES */

    .smallimgflex {
        width: 100%;
        display: block;
      }

    .smallbgimg1, .smallbgimg2, .smallbgimg3 {
        width: 80%;
        margin: 20px;
        border-radius: 5%;
       
    }

    /* PARAGRAPHS */

    p{
        margin: 50px;
        font-size: 18px;
    }

    /* BUTTONS */

    .reservation{
        font-size: 18px;
        padding: 30px 40px;
        width: auto;
        height: auto;
    }

    .centreElements{
        padding-top: 30%; /*Centre reservation button text*/
    }

    /* QUOTES */

    .quotes{
        display: block;
    }
    
    q{
        color: rgb(106, 104, 104);
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 80px;
    }
    
    .fa{
        color: #59146c;
        width: 20px;
        /* height: 40px; */
    }
    
    /* FORM */

form{
    width: 100%;
}

.input{
    width: 100%;
}

.submit{
    width: 50%;
}

.input, .submit {
    font-size: 18px;
    height: 40px;
}


}